.banner{
    position: relative;
    height: 640px;
}
/*banner*/
.banner-nav{
    padding-left: 10px;
}
.points{
    width: 1407px;
    height: 194px;
    margin: 470px auto 0;
    background-color: white;
    text-align: center;
    display: flex;
    justify-content: space-around;
}
.po{
    position: relative;
    width: 175px;
}
.po-name{
    margin-top: -5px;
    font-size: 34px;
}
.po-desc{
    font-size: 18px;
    color: #A3A3A3;
}
.po-img1{
    width: 126px;
    height: 67px;
    margin: 10px auto 0;
    overflow: hidden;
}
.po-img1 img{
    opacity: 0.2;
    transform: translateY(30px);
    transition: all .5s linear;
}
.po-no img{
    opacity: 1;
    transform: translateY(0px);
}

/*middle*/
.middle{
    background: #F0F4F5;
    overflow: hidden;
}
.mobile{
    width: 1200px;
    margin: 150px auto 0;
    /*height: 593px;*/
}
.mobile-title{
    margin: 210px auto 0;
    width: 432px;
    height: 32px;
    background: url("../img/jlt.png") no-repeat -583px -497px;
}
.part-box{
    height: 2118px;
}
.mobile-mean{
    position: relative;
}
.mobile-mean-right{
    position: absolute;
    top: 0;
    right: 30px;
    width: 412px;
    height: 412px;
    text-align: center;
}
.mobile-mean-right p:first-child,.wechat-left p:first-child{
    font-size: 38px;
}
.mobile-mean-right p:nth-child(2),.wechat-left p:nth-child(2){
    font-size: 32px;
}
.mobile-mean-right span,.wechat-left span{
    display: inline-block;
    margin-top: 217px;
    font-size: 18px;
    color: #727272;
}

.wechat{
    position: relative;
    width: 1200px;
    margin: 150px auto 0;
}
.wechat img{
    margin-left: 544px;
}
.wechat-left{
    position: absolute;
    top: 0;
    left: 30px;
    width: 420px;
    height: 412px;
    text-align: center;
}
.middle-title{
    margin: 125px auto 149px;
    width: 389px;
    height: 32px;
    background: url("../img/jlt.png")no-repeat -583px -446px;
}

.middle-last{
    width: 1920px;
    height: 560px;
    background: url("../img/jlt.png")no-repeat 0 -617px;
    overflow: hidden;
}
.middle-last ul{
    width: 1080px;
    height: 348px;
    display: flex;
    justify-content: space-between;
    margin: 107px auto;
}
.middle-last ul li{
    width: 240px;
    text-align: center;
}
.middle-last ul li p:nth-child(2){
    text-align: left;
}
.middle-last ul li:nth-child(2) img{
    margin: 15px;
}
.middle-name{
    margin-top: 39px;
    font-size: 34px;
 }
.middle-desc{
    margin: 66px auto 10px;
    width: 183px;
    font-size: 18px;
}
@media screen and (max-width: 1366px){
    .points{
        width: 1366px;
    }
    .middle-last{
        position: relative;
        width: 1366px;
        background: #E74D95;
        overflow: hidden;
    }
    .middle-last:before{
        content: '';
        position: absolute;
        top: 150px;
        left: 0;
        width: 1300px;
        height: 41px;
        border-radius: 20px;
        background-color: black;
    }
    .middle-last:after{
        content: '';
        position: absolute;
        bottom: 150px;
        right: 15px;
        width: 1300px;
        height: 41px;
        border-radius: 20px;
        background-color: black;
    }
    .middle-last ul li{
        z-index: 1;
       background-color: white;
    }
}