.header{
    position: relative;
    width: 1366px;
    height: 250px;
    margin: 0 auto;
    background: url("../img/product-banner.png") no-repeat;
}
.product-title{
    width: 300px;
    height: 100px;
    margin: 60px auto;
}
.product{
    width: 1250px;
    height: 800px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.item{
    position: relative;
    width: 264px;
    height: 382px;
    border: 1px solid #799CB1;
}
.item-line{
    position: absolute;
    top: 10px;
    right: -1px;
    height: 357px;
    border-right: 1px solid #f5c813;
}
.pointerss{
    width: 325px;
    height: 30px;
    margin: 80px auto;
    display: flex;
    justify-content: space-between;
}
.arrow-left{
    width: 20px;
    height: 23px;
    background: url("../img/arrow-left.png")no-repeat;
}
.arrow-right{
    width: 20px;
    height: 23px;
    background: url("../img/arrow-right.png")no-repeat;
}
.prointss-s{
    width: 24px;
    height: 24px;
    background-color: #e5e5e5;
    border-radius: 50%;
    text-align: center;
    line-height: 24px;
    font-size: 12px;
    color: #184f6b;
}
.prointss-dd{
    width: 24px;
    height: 24px;
    line-height: 24px;
    color: #184f6b;
}
.prointss-s:hover{
    background-color: #184f6b;
    color: white;
}
