@font-face {
    font-family: 'iconfont';  /* project id 969276 */
    src: url('//at.alicdn.com/t/font_969276_nb16r9nm5y.eot');
    src: url('//at.alicdn.com/t/font_969276_nb16r9nm5y.eot?#iefix') format('embedded-opentype'),
    url('//at.alicdn.com/t/font_969276_nb16r9nm5y.woff') format('woff'),
    url('//at.alicdn.com/t/font_969276_nb16r9nm5y.ttf') format('truetype'),
    url('//at.alicdn.com/t/font_969276_nb16r9nm5y.svg#iconfont') format('svg');
}
*{
    margin: 0;
    padding: 0;
    list-style-type: none;
}
/*sub-nav*/

.sub-nav{
    display: none;
    position: absolute;
    top: 1.6rem;
    right: .3rem;
    width: 3.76rem;
    height: 6rem;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 2;
    border-radius: .25rem;
}
.sub-nav a{
    text-decoration: none;
    color: white;
}
.sub-nav:before{
    position: absolute;
    top: -.19rem;
    right: .25rem;
    content: '';
    width: 0;
    height: 0;
    border-bottom: .1rem solid rgba(0, 0, 0, 0.8);
    border-top: .1rem solid transparent;
    border-left: .1rem solid transparent;
    border-right: .1rem solid transparent;

}
.sub1{
    font-family: 'iconfont';
    width: 100%;
    height: 1.2rem;
    border-bottom: .02rem solid #fff;
    font-size: .44rem;
    color: white;
    line-height: 1.2rem;
    padding-left: .4rem;
}
.sub1:last-child{
    border: 0;
}

/*under-nav*/
.under-nav{
    background-color: white;
    position: fixed;
    bottom: 0;
    z-index: 100;
    margin-top: 5px;
    width: 10.8rem;
    height: 1.43rem;
    display: flex;
    justify-content: space-between;
    border-top: 1px solid #6a8df3;
    box-shadow: 0px -4px 5px rgba(0, 0, 0, 0.29);
    transform: scale(0);
    transition: all .5s linear;
}
.under-nav2{
    background-color: white;
    position: fixed;
    bottom: 0;
    z-index: 100;
    margin-top: 5px;
    width: 10.8rem;
    height: 1.43rem;
    display: flex;
    justify-content: space-between;
    border-top: 1px solid #6a8df3;
    box-shadow: 0px -4px 5px rgba(0, 0, 0, 0.29);
}
.under-nav1{
    width: 2.16rem;
    height: 1.43rem;
    text-align: center;
    background-color: white;
}
.under-nav1 a{
    text-decoration: none;
    color: gray;
}
.under-name{
    margin-top: .2rem;
    font-size: .54rem;
    font-family: 'iconfont';
}
.under-desc{
    font-size: .24rem;
}

.back-top{
    font-size: .36rem;
    font-weight: bold;
    text-align: center;
    line-height: 1rem;
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
    position: fixed;
    top: 75%;
    right: 5%;
    transform: scale(0);
    transition: all .5s linear;
}